.login_content form input[type=submit] {
  float: none;
  margin-left: 0;
}
.panel_toolbox > li {
  float: right;
}
// Admin Header

.site_title i {
  padding: 8px 6px;
}
.thumbnail_edit{
  max-width: 300px;
  height: auto;
}